<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>
        <security>
            <requestFiltering allowDoubleEscaping="false">
                <fileExtensions>
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".css" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <handlers accessPolicy="Read, Script" />
        <modules>
            <remove name="WindowsAuthentication" />
            <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" preCondition="managedHandler" />
        </modules>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
        <sessionState useHostingIdentity="true" />
    </system.web>
</configuration>
